
.junaid{
    margin-top: 100px; padding-left: 100px; padding-top: 10px; padding-bottom: 10px; margin-right: 70%; background-color: #00539CFF; color: #EEA47FFF; border-top-right-radius: 30px; box-shadow: 10px 15px 150px 5px black;
}
body{
    margin: 0; font-family: 'Bitter', serif;
    font-family: 'Raleway', sans-serif;
}
.photo{
    height: 400px; width: 350px; margin-left: 0%; padding-left: 30%;
}
.display{
    display: flex; margin: 150px;
}
.write{
    text-align: justify;
}